.DS_Store
scripts/vendor/vendor
scripts/vendor/data/*
issues/
base.php
*.sqlite3


*.pyc
*.egg-info
build/
dist/
docs/_build
.python-version
.tox
.coverage
.coverage.*
.xmlcoverage/
.venv/
.idea
.env
.vscode